.App {
  text-align: center;
}

body, html {
  height: 100%;
 overflow-x: hidden;
}


.landing {
  position: relative;
  height: 800px;
  top: 100px;
  width: 100%;

}

.lanImage {
  position: relative;
  top: 100px;
  background-image: url('https://images.pexels.com/photos/39013/self-portrait-eyes-face-39013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 699px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .logo {
  position: relative;
 left: -300px;
 top: 10px;
 color: white;
}

ul {
  list-style: none; 
  display: inline;
  text-align: center;
}

.navlinks {
  position: relative;
  top: -20px;
}

li {
  list-style: none; 
  display: inline;  
}

.nav-item {
  cursor: pointer;
  list-style: none;
}

.nav-link:link {
  cursor: pointer;
 display: inline;
 text-decoration: none;
 padding: 14px 20px;
 margin-right: 100px; 
 background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

li > a {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}


.navbar-inverse {
  font-weight: 600;
  font-size: 22px;
  position: relative;
  top: 0px;
  height: 30px;
}

.logout {
  position: relative;
  top: -9px;
 left: 550px;
}

.user {
  position: relative;
   left: 1000px;
}

.logIn, .regIster {
  position: relative;
  left: 1100px;
  color: white;
} 

.profile, .write, .read, .logout {
  color: white;
} 


.img-responsive {
 height: 500px;
  width: 100%;
}

.edel {
 position: relative;
 top: 100px;
}

.card-second {
  position: relative;
  float: right;
  top: -358px;
}

.editArticle {
  position: relative;
  top: 200px;
}



/* .navbar {
  position: absolute;
  top:-70px;
width: 100%;
  mask-image: linear-gradient(90deg, rgba(223, 220, 217, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(241, 218, 218, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

.navbar ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(238, 217, 217, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(238, 206, 206, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  padding: 18px; */
  /* font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.navbar ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
} */
