.App {
  text-align: center;
}

body, html {
  height: 100%;
}


.landing {
  position: relative;
  height: 800px;
  top: 100px;
  width: 100%;

}

.lanImage {
  position: relative;
  top: 40px;
  background-image: url('https://images.pexels.com/photos/39013/self-portrait-eyes-face-39013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item a {
  cursor: pointer;
}

.user {
  position: relative;
   left: 800px;

}

.img-responsive {
  position: relative;
  height: 40%;
  width: 70%;
  top: 100px;
  left: 100px;
}

.panel-body {

}

.card-second {
  position: relative;
  float: right;
  top: -358px;
}