.whoops-404 {
  display: none;
}

.headerImg {
  position: relative;
  width: 100%;
  top: -120px;
}



/* .site-heading h1{
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
} */

.site-heading span{
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  top: 50px;
}

.px-0 h1 {
  color: white;
  top: 80px;

}


.px-0 .my-3, .mb-0{
  color: black;
    top:290px;
   position: relative;
}

.px-0 .bText {
  position: absolute;
  top: 130px;
  width: 700px;
}

.px-0 .user {
 top: 120px;
   position: relative;
   float: left;
   left: 150px;
}

.px-0 hr {
  left: -140px;
  position: relative;
  top: 400px;
}

.px-0 .card-img-right { /* first image*/
  position: relative;
   height: 350px;
   width: 550px;
   left: 40px;
   top: 420px;
}

.card .card-img-right {
  position: relative;
   height: 350px;
   width: 550px;
   left: 100px;
   top: -100px;
}

.card-body hr {
  position:relative;
  top: -190px;

}

.card-body .linkz {
  position: relative;
  top: -10px;
}


.card-body .botto {
  position: relative;
  left: 100px;
}

.align-items-start {
  position: relative;
  top: 34px;
}
.align-items-start {
color: white;
top: 10px;
}


.align-items-start .jaja {
  position: relative;
  top: -100px;
  color: black
}

.align-items-start {
   position: relative;
   top: -10px;
}

.blog-footer {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 top: 600px;
  position: relative;
  left: 620px; 
  bottom: 0;
  height: 30%;
  width: 40%;

}

.blog-footer p {
  position: relative;
  left: 120px;
  font-weight: 400;
  font-size: 24px;
  bottom: 15px;
}

.zeroCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 top: 0px;
  position: relative; 
  height: 30%;
width: 50%;
float: left;}

.firstCard {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
top: -30px;
position: relative; 
width: 50%;
height: 30%;
/* float: right; */
}


.card-second {
      display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 top: 180px;
  position: relative; 
  height: 30%;
}

.mb-1 {
  position: relative;
  top: 75px;
  left: -40px;
}

.card-second a {
  position: relative;
  top: -230px;
}


.linkz:link {
  text-decoration: none;
}

.card .sec {
   position: relative;
   top: -150px;
   left: 10px;
}
