body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
} 

 .postz {
  position: relative;
  top: 288px;
  right: -100px;
  margin-bottom: 40px;
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;  
  font-weight: 400;
}

 .date{
   position: relative;
  top: 288px;
  right: -90px;
  margin-bottom: 40px;
  color: orange;
  font-size: 30px;
  font-weight: 400;
 }

 .pull-right hr {
  position: relative;
  top: 10px;
  left: 0px;
 }

.pull-right {
  position: absolute;
  top: 180px;
  left: 500px;
}

.author {
 display: flex;
  flex-direction: row; 
  margin-left: 10px; 
  position: relative; 
  top: 192px;
  left: 1095px;
  text-transform: uppercase;
  color: orange;
  font-weight: 400;
  font-size: 30px;
}

.media-body h4, a {
  color: black;
}

.media-body h4 {
  color: black;
}

a {
  text-decoration: none !important;
}

.media-heading {
  color: orange;
  text-decoration: none;
}

.post-heading {
  color: black;
}


.oneArticle  {
 display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  position: absolute;
  top: 500px;
  left: 950px;

}

.image-responsive {
  position: absolute;
  top: 10px;
}

.body-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-transform: capitalize;
  top:  640px;
  width: 70%;
  left: 250px;
  height: 50%;
  /* height: 400px; */
  margin-bottom: 150px;
  /* background-color: white; */
}

.ilPost {
 position: relative;
 top: 200px;
 color: orange;
}

.jumbo h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 40px;
  width: 40%;
  text-transform: capitalize;
  color: orange;
  font-size: 40px;
  font-weight: 600;
  transform: translate(30%, -10%);
  /* border-bottom: 1px solid white; */
}

.post-edit {
  position: relative;
  top: 20px;
  height: 300px;
}

.oneArticle p {
  position: relative;
  top: -50px;
}


.oneArticle span {
  position: relative;
  top: 60px;
}


.bodys h4 {

  position: relative;
  top: 238px;
  left: -230px;
  font-weight: 400;
  color: orange;
  font-size: 30px;
  font-weight: 400;
}

.secondary h4{
  position: relative;
  top: -60px;
  left: 15px;
}


.callout.secondary {
  position: relative;
  top: 1100px;
  margin-top: 120px;
  margin-bottom: 80px;
  background: #222;
  color: white;
  width: 50%;
  height: 250px;
  padding: 5px;
  transform: translate(50%, 40%);
}

.comment-list {
  list-style: none;
  margin: 0 0 50px 0; 
} 

.comment-list > li {
    margin: 0 0 20px 0;
    background: #333;
    padding: 20px;
  }

.comment-user {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.comment-user-avatar-wrap {
  width: 40px;
  margin-right: 10px;
}
.comment-username {
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.on {
  margin-right: 5px;
}
.comment-text {
  background: white;
  color: #222;
  padding: 20px;
}

.comment-text :last-child {
  margin: 0;
}

textarea { 
  color: #222;
  width: 80%;
  height: 100px;
}


.post-footer-option li{
  float:left;
  margin-right:50px;
  padding-bottom:15px;
}

.post-footer-option li a{
  color:#AFB4BD;
  font-weight:500;
  font-size:1.3rem;
}

.photo-profile{
  border:1px solid #DDD;    
}

.anchor-username h4{
  font-weight:bold;    
}

.anchor-time{
  color:#ADB2BB;
  font-size:1.2rem;
}

.post-footer hr {
  position: relative;
  top: -74px;
}

.post-footer-comment-wrapper{
  background-color:#F6F7F8;
}

.showComm {
  position: relative;
  top: 1080px;
  left: -320px;
  height: 70%;
  transform: translate(45%, 32%);
}

.jumbotron {
  position: absolute;
  width: 100%;
  top:50px;
  margin: 0px;
}

.jumbotron .rounded {
  position: absolute;
  top: 0px;
}

ul>li{
  position:relative;
   }  

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 top: 1300px;
  position: relative; 
  bottom: 0;
  height: 30%;
  left: 20px;
}