
.showArticles {
  position: relative;
  top: 200px;
}

.faSearch {
  position: relative;
  top: 25px;
  left: 160px;
}

span {
  position: relative;
  top: -50px;
}

.blTitle {
  position: relative;
  top: -15px;
}

.badge {
  position: relative;
  top: -50px;
  left: -150px;
  margin-bottom: 40px;
}

.col-md-12 p {
  margin: 100px 0;
  width: 300px;
}

.linkz {
  font-weight: 200;
  font-size: 20px;
}

.linkz:link {
  text-decoration: none;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
   box-shadow: white;
}
