
.showArticles {
  position: relative;
  top: 200px;
}

.faSearch {
  position: relative;
  top: 25px;
  left: 160px;
}

span {
  position: relative;
  top: -50px;
}

.blTitle {
  position: relative;
  top: -15px;
}

/* .badge {
  position: relative;
  top: -50px;
  left: -150px;
  margin-bottom: 40px;
} */

.col-md-12 p {
  margin: 100px 0;
  width: 300px;
}

.linkz {
  position: absolute;
  font-weight: 200;
  font-size: 20px;
  top: 280px;
  margin: 10px 0;
}

.linkz:link {
  text-decoration: none;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
   box-shadow: white;
}

.card-body {
  height: 45%;
}

.text-center {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 40px 0;
  height: 400px;
  width: 75%;
  top: -100px;
  position: relative;
  transform: translate(17%,40%);
}

.card-text {
  font-size: 23px;
  margin: 50px 0;
}

.card-title {
text-transform: capitalize;
}

.card-footer span {
   position: relative;
   top: -135px;
}

.badges {
  position: relative;
  top: 70px;
  margin: 20px 0;
}

hr {
  position: relative;
  top: 130px;
  border-bottom: 1px solid grey;
}


